.red {
  color: red;
}

.green {
  color: green;
}

.error {
  span {
    color: var(--secondary-color);

    & svg {
      position: relative;
      top: 5px;
      margin: 2px 5px;
      font-size: 1.2rem;
    }
  }
}
