.red {
  color: red;
}

.green {
  color: green;
}

.error {
  span {
    color: var(--secondary-color);

    & svg {
      position: relative;
      top: 5px;
      margin: 2px 5px;
      font-size: 1.2rem;
    }
  }
}

.showHint {
  transition: opacity 200ms ease-in;
  max-height: auto;
  opacity: 1;
}

.removeHint {
  opacity: 0;
  max-height: 0;
  transition: all 200ms ease-out;
}
