.card {
  position: relative;
  padding: 50px 50px;
  background: var(--white);
  border: 2px solid var(--light-gray);
  border-radius: 10px;
  width: 300px;
  height: 200px;
  margin-top: 10px;
}

.card .info {
  position: absolute;
  top: 20px;
  left: 10px;
  display: flex;
  flex-direction: row;
}
.card .info img {
  width: 45px;
  height: 45px;
  margin-top: 5px;
}

.card .info h4 {
  padding: 15px 6px;
  font-size: 1rem;
  font-weight: bold;
}

.card .info p {
  position: relative;
  bottom: 15px;
  padding: 0 6px;
  font-size: 0.9rem;
}

.card .slideNumber {
  position: absolute;
  top: 20px;
  right: 30px;
  background: var(--circle-test);
  color: var(--light-black);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  padding: 5px 2px;
  font-size: 0.9rem;
  font-weight: bold;
}

.card .testimonial {
  position: relative;
  top: 30px;
  right: 35px;
  width: 230px;
  font-size: 0.9rem;
  line-height: 20px;
}
