@import "./globalVariables.scss";


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html,body{
    overflow-x:hidden;
}

body{
    font-family:$primary-font;
}
a,
ul {
  list-style: none;
  text-decoration: none;
}

.container{
    max-width:1192px;
    margin: auto;
    padding:30px 30px;
}


.d-flex-row{
    display:flex;
    flex-direction: row;
}
.d-flex-column{
    display:flex;
    flex-direction: column;
}

.justify-space-between{
justify-content:space-between;
}


// color
.green{
    color:$primary-color
}

