.flexHeader {
  display: flex;
  justify-content: space-between;
}

.hero {
  position: relative;
  grid-area: hero;

  & .trailerContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 46%;
    filter: hue-rotate(10deg) brightness(65%) grayscale(10%);
    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  & .header {
    display: block;
    width: 400px;
    position: relative;
    bottom: 23rem;
    z-index: 1;

    & .headerTitle {
      color: var(--white);
      text-shadow: 2px 2px 4px #000000;
      font-size: 3rem;
    }

    & .flexHeader {
      display: flex;
      flex-direction: row;

      & .releaseDate {
        position: absolute;
        right: 39px;
      }

      & h5 {
        font-weight: 400;
        font-size: 1.2rem;
        color: var(--secondary-card-font);
        margin-top: 20px;

        & span {
          padding-left: 4px;

          &::after {
            content: "";
            border-right: 1px solid var(--white);
            padding: 5px;
            left: 25px;
            position: relative;
          }
        }

        & .spanTwo {
          &::after {
            border: none;
          }
        }
      }
    }

    & .buttonLeft,
    & .buttonRight {
      margin-top: 20px;
      height: 48px;
      padding: 10px;
      background: var(--primary-color);
      border: 2px solid var(--primary-color);
      border-radius: 8px;
      box-shadow: var(--btn-box-shadow);
      font-size: 1.1rem;
      color: var(--white);
      cursor: pointer;
    }

    & .buttonRight {
      background: transparent;
    }
  }
}

// Media Queries

$layout-breakpoint-min-width: 668px;
$sm-phone-layout-breakpoint-max-width: 667px;
$xsm-layout-breakpoint-max-width: 397px;

@media (min-width: $layout-breakpoint-min-width) {
  .header {
    width: 320px !important;
    bottom: 10rem !important;
  }
}

@media (max-width: $sm-phone-layout-breakpoint-max-width) {
  .header {
    bottom: 8.5rem !important;
  }

  .flexHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .trailerContainer {
    padding-top: 70% !important;
  }
}
