.flexHeader {
  display: flex;
  justify-content: space-between;
}

.hero {
  position: relative;
  grid-area: hero;
  margin-top: 90px;
  & img {
    width: 100%;
    height: 62vh !important;
    // overlay
    filter: hue-rotate(10deg) brightness(15%) grayscale(10%);
  }

  & .header {
    display: block;
    margin: 0 auto;
    width: 313px;
    position: relative;
    bottom: 23rem;
    z-index: 1;

    & .headerTitle {
      color: var(--white);
      text-shadow: 2px 2px 4px #000000;
      font-size: 3rem;
    }

    & .flexHeader {
      display: flex;
      flex-direction: row;
      & h5 {
        font-weight: 400;
        font-size: 1.2rem;
        color: var(--secondary-card-font);
        margin-top: 20px;

        & span {
          padding-left: 4px;

          &::after {
            content: "";
            border-right: 1px solid var(--white);
            padding: 5px;
          }
        }

        & .spanTwo {
          &::after {
            border: none;
          }
        }
      }
    }

    & .buttonLeft,
    & .buttonRight {
      margin-top: 20px;
      height: 48px;
      padding: 10px;
      background: var(--primary-color);
      border: 1px solid var(--primary-color);
      border-radius: 8px;
      box-shadow: var(--btn-box-shadow);
      font-size: 1.1rem;
      color: var(--white);
      cursor: pointer;
    }

    & .buttonRight {
      background: transparent;
      border: 1px solid var(--white);
      margin-left: 80px;
    }
  }
}

// Media Queries

$layout-breakpoint-min-width: 668px;
$sm-phone-layout-breakpoint-max-width: 667px;
$xsm-layout-breakpoint-max-width: 397px;

@media (min-width: $layout-breakpoint-min-width) {
  .header {
    margin: 0 !important;
    width: 320px;
    bottom: 20rem !important;
    z-index: 1;
  }
}

@media (max-width: $sm-phone-layout-breakpoint-max-width) {
  .flexHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .buttonRight {
    margin-left: 77px !important;
  }
}
