.container {
  position: relative;
  padding: 10px 0;
  height: 30vh;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 1320px;
  background: var(--secondary-color);
  border-radius: 30px;
  border: 1px solid var(--secondary-color);
  padding: 50px 50px;
  box-shadow: var(--button-box-shadow);
  height: 200px;
  margin-left: 13%;
}

.form:after {
  position: relative;
  content: url('../../img/formDot.png');
  bottom: 50px;
  left: 30px;
}

.form h3 {
  font-size: 2rem;
  color: var(--white);
}

.form input {
  margin-top: 10px;
  padding: 20px 70px;
  background: var(--secondary-color);
  border: 1px solid var(--white);
  border-radius: 30px;
  outline: none;
}

.form input:focus {
  border: 2px solid var(--white);
}

.form button {
  margin: 0 20px;
  padding: 10px 20px;
  background: transparent;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: var(--button-box-shadow);
}

.form button:hover {
  background: var(--light-white);
  color: var(--secondary-color);
}

.formImage {
  position: relative;
  width: 350px;
  height: 350px;
  bottom: 220px;
  left: 500px;
}
