.star {
  background: transparent;
  z-index: 100;
  position: relative;
  top: -115px;

  right: 0;
  color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  box-shadow: var(--btn-box-shadow);
  border-radius: 14px;
  padding: 14px;
  width: 272px;

  & h4 {
    color: var(--white);
    font-weight: normal;
    font-size: 1.4rem;
  }

  & p {
    margin-top: 10px;
  }
  & span {
    font-size: 1rem;
    color: var(--secondary-card-font);
    padding-left: 5px;
    padding-top: 20px;
    &.starTotal {
      position: relative;
      bottom: 5px;
      left: 5px;
      border: 1px solid var(--secondary-card-font);
      border-radius: 3px;
      padding: 3px;
      font-size: 0.9rem;
    }
  }
}

$layout-breakpoint-min-width: 668px;

@media (min-width: $layout-breakpoint-min-width) {
  .star {
    position: absolute;
    right: 5%;
    top: 70%;
  }
}

$layout-breakpoint-min-height: 740px;
$layout-breakpoint-max-height: 700px;

@media (min-height: $layout-breakpoint-min-height) {
  .star {
    top: -180px;
  }
}
@media (max-height: $layout-breakpoint-max-height) {
  .star {
    top: -120px;
  }
}
