@use "globalVariables.module.scss" as gv;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  position: relative;
  background: var(--bg-color);
  font-family: var(--primary-font);
}

a,
li {
  list-style-type: none;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 15px;
}

// Flex Box

.dFlexRow {
  @include gv.display-flex($column: false);
}

.dFlexColumn {
  @include gv.display-flex($column: true);
}

.spaceBetween {
  @include gv.justify-content($space-between: true);
}

.spaceCenter {
  @include gv.justify-content($space-between: false);
}

// Grid
.grid {
  display: grid;
  grid-template-areas: "nav" "hero" "tab" "footer";
}

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

$layout-breakpoint-min-width: 1200px;
$layout-breakpoint-max-width: 1199px;
$sm-layout-breakpoint-max-width: 997px;

@media (min-width: $layout-breakpoint-min-width) {
  .gridWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: $layout-breakpoint-max-width) {
  $layout-breakpoint-min-width: 997px;

  @media (min-width: $layout-breakpoint-min-width) {
    .gridWrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media (max-width: $sm-layout-breakpoint-max-width) {
  $layout-breakpoint-min-width: 668px;

  @media (min-width: $layout-breakpoint-min-width) {
    .gridWrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

// overlay
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.2s ease-in;
  z-index: 1;
}
