.container {
  width: 100%;
  min-height: 10vh;
  background: var(--primary-color);
}

.nav {
  & img {
    width: 120px;
    height: 22px;
    height: 20px;
  }

  & img,
  & li,
  & .navButton {
    margin-top: 10px;
  }

  & ul {
    display: flex;

    & li {
      padding: 1px 10px;
      & a {
        color: var(--white);
        font-size: 0.9rem;
        &::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: var(--white);
          transition: width 0.3s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  .navButton {
    display: flex;
  }
}

// Media Queries for nav mobile
$layout-breakpoint-max-width: 997px;
$layout-breakpoint-min-width: 998px;
@media (max-width: $layout-breakpoint-max-width) {
  .navItems,
  .navButton {
    display: none !important;
  }
}
@media (min-width: $layout-breakpoint-min-width) {
  .toggleBtn {
    display: none !important;
  }

  .nav {
    & li {
      padding: 1px 39px !important;
    }

    & button {
      position: relative;
      right: 85px !important;
    }
  }
}
