.fadeTop {
  animation: fadeTop 1s ease-in-out;
}

.fadeBottom {
  animation: fadeBottom 1s ease-in-out;
}

.fadeLeft {
  animation: fadeLeft 1s ease-in;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.fadeRight {
  animation: fadeRight 1s ease-in;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.fade-1 {
  animation: fade1 5s ease-in;
}
.fade-2 {
  animation: fade2 5s ease-in;
}
.fade-3 {
  animation: fade3 5s ease-in;
}

.opacity {
  animation: opacity 1s ease-in;
}
.opacityTwo {
  animation: opacity 1.2s ease-in;
}

@keyframes fadeTop {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade1 {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }
}

@keyframes fade2 {
  33% {
    opacity: 0;
  }

  67% {
    opacity: 1;
  }
}

@keyframes fade3 {
  67% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
