.content {
  width: 362px;
  position: relative;
  height: 10px;
  display: flex;
  margin: 0 auto;
  top: 11px;
  & .searchContainer {
    position: relative;
    padding: 3px;
    height: var(--size);
    width: var(--size);
    display: flex;
    border: 2px solid var(--white);
    border-radius: 100px;
    transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    overflow: hidden;

    & .searchInput {
      color: var(--white);
      border: 0;
      padding: 0.25em 1em;
      flex-grow: 1;
      outline: 0;
      z-index: 2;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 70%;
      background: transparent;
      opacity: 0;
      font-size: 1.2rem;
      cursor: pointer;

      &::placeholder {
        color: var(--white);
        font-size: 1rem;
      }
    }
    & .searchBtn {
      cursor: pointer;
      margin-left: auto;
      background: var(--bg-color);
      border: 0;
      border-radius: 50%;
      width: calc(var(--size) - 10px);
      height: calc(var(--size) - 10px);
      color: var(--primary-card-font);
      transition: background 200ms ease-out;
    }

    &:focus-within {
      width: 100%;
      & .searchInput {
        opacity: 1;
        z-index: initial;
        cursor: initial;
        width: calc(100% - var(--size));
      }

      &.searchBtn {
        color: white;
        box-shadow: var(--btn-box-shadow);
        &:hover,
        &:focus {
          outline: 0;
          box-shadow: var(--btn-box-shadow);
        }
      }
    }
  }
}

$layout-breakpoint-min-width: 998px;
$xsm-layout-breakpoint-max-width: 470px;
$layout-breakpoint-max-width: 998px;

@media (max-width: $layout-breakpoint-max-width) {
  .content {
    top: 0px;
  }
}
@media (max-width: $xsm-layout-breakpoint-max-width) {
  .content {
    justify-content: flex-start;
    position: absolute;
    top: 41%;
    left: 14px;
  }
}

@media (min-width: $layout-breakpoint-min-width) {
  .content {
    width: 70vw;
    justify-content: center;
    right: 100px;
  }

  .searchContainer {
    transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1) !important;
    &:focus-within {
      width: 50% !important;
    }
  }
}
