@use "../../../globalVariables.module.scss" as gv;
// Hamburger
.buttonToggler {
  height: 25px;
  width: 30px;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  margin-top: 5px;
  cursor: pointer;
}

.buttonToggler:focus {
  outline: none;
}

.toggleBtnLine {
  width: 30px;
  height: 3px;
  background: var(--white);
}

// Mobile Menu
.sideMenu {
  height: 50%;
  background: var(--white);
  box-shadow: var(--btn-box-shadow);
  position: fixed;
  top: 30px;
  right: 5px;
  width: 300px;
  max-width: 300px;
  height: 454px;
  max-height: 500px;
  border-radius: 5%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-90px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  z-index: 100;

  &.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  & .closeBtn {
    position: absolute;
    right: 15px;
    top: 10px;
    border: 1px solid transparent;
    background: transparent;
    color: var(--primary-color);
    cursor: pointer;
    &:hover,
    &:focus {
      color: red;
    }
  }

  & .navItems {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    & li {
      margin: 7% auto;
      width: 100%;
      border-bottom: 1px solid var(--white-hover);
      & a {
        color: var(--primary-color);
        font-size: 1.3rem;
        font-weight: 400;
        transition: color 300ms ease-in-out;
        &:hover {
          color: var(--primary-color-hover);
        }
        &::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: var(--primary-color-hover);
          transition: width 0.3s;
        }
        &:hover::after {
          width: 20%;
        }
      }
    }
  }

  & .navButton {
    display: flex;
    flex-direction: column;
    & .buttonNoStyle button {
      color: var(--primary-color);
      font-size: 1.3rem;
      width: 95%;
      margin-top: 2%;
      left: 5px;
      border-bottom: 1px solid var(--white-hover);
      &:hover {
        color: var(--primary-color-hover);
      }
    }

    & .buttonStyle button {
      padding: 10px 50px;
      width: 95%;
      position: relative;
      font-size: 1.3rem;
      top: 30px;
      left: 10px;
    }
  }
}
