.container {
  position: relative;
  grid-area: tab;
}

.tabList {
  position: absolute;
  display: flex;
  flex-direction: column;
  & .tabItems {
    font-size: 1.7rem;
    padding: 10px;
    margin-top: 15px;
    width: 150px;
    font-weight: bold;
    color: var(--primary-card-font);
    cursor: pointer;
    transition: border, color 300ms ease-in-out;
    &.active {
      color: var(--primary-color);
      &::after {
        position: relative;
        display: block;
        content: "";
        border-bottom: 3px solid var(--primary-color);
        top: 11px;
      }
    }
  }
}

.tabsContentContainer {
  & .tabContent {
    display: flex;
    flex-direction: column;
    &.active {
      display: flex;
    }

    &.notActive {
      display: none;
    }
  }
}

$layout-breakpoint-min-width: 998px;
$layout-breakpoint-max-width: 997px;

@media (max-width: $layout-breakpoint-max-width) {
  .tabList {
    position: relative;
    flex-direction: row;
    justify-content: center;
  }
}

// @media (max-width: $layout-breakpoint-max-width) {
//   $layout-breakpoint-min-width: 769px;

//   @media (min-width: $layout-breakpoint-min-width) {
//     .mobileButton {
//       flex-direction: row !important;
//     }
//   }
// }
