/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,700&display=swap");
:root {
  --primary-color: #6246e4;
  --primary-color-hover: #6c4fe9;
  --secondary-color: #fcbc14;
  --teritary-color: #9acf61;
  --white: #fff;
  --light-white: #f7fafd;
  --gray: #a7a7a7;
  --light-gray: #ececec;
  --light-black: #2d2d2d;
  --mobile-nav-bg: #2d2d2d96;
  --circle-light-gray: #f9f8f8;
  --circle-one: #f4dda0;
  --circle-two: #bcd5fc;
  --circle-three: #fac2cf;
  --circle-test: #f8f4f4;
  --test-button-color: #64dac8;
  --transparent-box-shadow: 0 0 50px transparent;
  --button-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  --primary-font: "Philosopher", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a,
ul {
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: var(--prinary-font);
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px 20px;
}

.dFlexRow {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.dFlexColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justifyContentBetween {
  justify-content: space-between;
}

.justifyContentSpaceAround {
  justify-content: space-around;
}
