.container {
  position: relative;
  padding: 100px 0;
}

.leftSection {
  padding: 0 20px;
}

.leftSection h2 {
  font-size: 2rem;
  padding: 5px 0;
  color: var(--light-black);
  font-weight: bold;
}
.leftSection p {
  padding: 5px 0;
  font-size: 1.2rem;
  color: var(--light-black);
  width: 300px;
}

.rightSection {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 20px auto;
  padding: 20px 50px;
  background: var(--white);
  width: auto;
  height: auto;
  border-radius: 10px;
  border: 1px solid var(--white);
  box-shadow: var(--button-box-shadow);
}

.buttons {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 100px;
  top: 90px;
}

.buttons button {
  background: var(--white);
  color: var(--light-black);
  border: 2px solid var(--light-gray);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  font-size: 1.5rem;
  box-shadow: var(--button-box-shadow);
  cursor: pointer;
  padding: 5px 0;
  transition: ease-in 0.3s;
}

.buttons button:hover {
  background: var(--test-button-color);
  color: var(--white);
  border: 2px solid var(--test-button-color);
}

/* Media Queries */
@media screen and (max-width: 961px) {
  .mobile {
    flex-direction: column;
    align-items: center;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 34.5%;
    top: -190px;
  }
}
@media screen and (max-width: 898px) {
  .container {
    /* height: auto; */
    margin-right: 19px;
  }
  .leftSection {
    margin-right: 5%;
  }

  .leftSection img {
    width: 236px;
    display: flex;
    margin: 0 auto;
  }

  .rightSection {
    margin-left: 25%;
  }

  .rightSection {
    display: flex;
    flex-direction: column;
  }
}
