.container {
  padding-right: 60px;
}

.buttonToggler {
  height: 30px;
  width: 30px;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  margin-top: 5px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  & .toggleBtnLine {
    width: 30px;
    height: 4px;
    background: var(--white);
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
  }

  &.open {
    .toggleBtnLine:first-child {
      transform: rotate(45deg);
    }
    .toggleBtnLine:nth-child(2) {
      opacity: 0;
    }
    .toggleBtnLine:last-child {
      transform: rotate(-45deg);
    }
  }
}

.mobileNavWrapper {
  z-index: -1;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  height: 0%;
  transition: flex-direction 0.75s, opacity 0.75s, visibility 0.75s,
    height 0.75s;

  overflow: hidden;

  &.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }

  & .mobileButton {
    display: flex;
    flex-direction: column !important;
    position: relative;
    top: 50px;
  }

  & .authNotification {
    color: var(--white);
    font-size: 1.4rem;
  }

  & .navUL {
    margin: 10px 0;
    font-size: 1.5rem;

    & li {
      padding: 5px 0;
    }

    & .navLink {
      color: var(--white);

      &:hover {
        border-bottom: 1px solid var(--white);
      }
    }
  }
}

$layout-breakpoint-min-width: 998px;
$layout-breakpoint-max-width: 997px;

@media (min-width: $layout-breakpoint-min-width) {
  .buttonToggler {
    display: none;
  }
}

@media (max-width: $layout-breakpoint-max-width) {
  $layout-breakpoint-min-width: 769px;

  @media (min-width: $layout-breakpoint-min-width) {
    .mobileButton {
      flex-direction: row !important;
    }
  }
}
