.container {
  position: relative;
  padding: 50px 0;
}

.container::before {
  position: absolute;
  content: url('../../img/StepsRight.png');
  top: 0px;
  left: 0px;
}

.sectionLeft h2 {
  font-size: 3rem;
}

.sectionLeft {
  margin-top: 10%;
  margin-left: 3%;
}

.sectionLeft button {
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  width: 150px;
  height: 40px;
  margin-top: 2rem;
  cursor: pointer;
  box-shadow: var(--button-box-shadow);
  background: var(--primary-color);
  color: var(--white);
  font-size: 1.3rem;
  font-weight: bold;
  transition: ease-in-out 1s;
}

.sectionLeft button:hover {
  background: var(--white);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.sectionLeft p {
  width: 350px;
  line-height: 20px;
  margin-top: 5px;
}

.sectionRight {
  position: relative;
  margin-right: 8%;
}

.sectionRight img {
  width: auto;
  height: auto;
}

.sectionRight .pinkBox {
  position: absolute;
  top: 25%;
  left: 30%;
  font-size: 1.3rem;
  padding: 0 10px;
  color: var(--white);
}
.sectionRight .pinkBox p,
.sectionRight .lightBlueBox p,
.sectionRight .babyBlueBox p {
  font-size: 1.5rem;
  font-weight: bold;
}

.sectionRight .lightBlueBox {
  position: absolute;
  top: 25%;
  left: 70%;
  font-size: 1.3rem;
  color: var(--white);
}
.sectionRight .babyBlueBox {
  position: absolute;
  bottom: 25%;
  left: 50%;
  font-size: 1.3rem;
  color: var(--white);
}
