.container {
  position: absolute;
  background: var(--light-gray);
  padding: 20px 10px;
  width: 380px;
  margin: 20% auto;
  border-radius: 20px;
  /* border-bottom-left-radius: 100px; */
  height: 450px;
  box-shadow: var(--button-box-shadow);

  z-index: 1000;
}

.container h2 {
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  color: var(--primary-color);
  position: relative;
  /* bottom: 30px; */
  right: 20px;
}

.closeBtn button {
  width: 50px;
  background: transparent;
  border: none;
  border-radius: none;
  box-shadow: none;
  position: absolute;
  right: 0;
  top: -10px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  color: var(--light-black);
}

.closeBtn button:hover {
  color: red;
  border: none;
  box-shadow: none;
  border-radius: none;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 30px;
}

.form .formItems {
  margin: 3px 20px;
}

.form .formItems p {
  font-size: 1rem;
  width: 300px;
  padding: 0 10px;
  color: var(--light-black);
}
.form .formItems p > a {
  padding: 0 2px;
  color: var(--primary-color);
  text-decoration: none;
}
.form .formItems p > a:hover {
  text-decoration: underline;
}

.form label {
  font-size: 1.3rem;
  position: relative;
  font-weight: 400;
  top: 4px;
}

.form input {
  width: 100%;
  height: 40px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: transparent;
  margin-top: 10px;
  padding-left: 10px;
}

.form button {
  width: 100%;
  height: 35px;
  background: var(--primary-color);
  color: var(--white);
  border: 1px solid var(--primary-color);
  box-shadow: var(--button-box-shadow);
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background, border, 0.2s ease-in-out;
}

.form button:hover {
  background: var(--primary-color-hover);
  border: 1px solid var(--primary-color);
  outline: none;
}

.form input::placeholder,
.form input[type="text"] {
  padding: 10px 2.4px;
}

.form input:focus {
  outline: none;
}

/*  Modal Animation */

@keyframes show {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes hide {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.container.show {
  animation: show 300ms ease-in-out;
}

.container.hide {
  animation: hide 1s ease-out;
}

@media screen and (min-width: 768px) {
  .container {
    background: var(--light-gray);
    padding: 20px 10px;
    width: 380px;
    margin: -5% 10%;
    border-bottom-left-radius: 100px;
  }
}
