@import "../../globalVariables.scss";
@import "../ScrollAnimation/Animations.css";

.contact-container{
    width:100%;
    min-height:100vh;
    position:relative;
    padding:10px 10px;
}

.contact-header{
    display:flex;
    flex-direction: column;
    text-align: center;

    & h3{
        letter-spacing:10px;
        color: $hero-blue;
    }
    & h4{
        width:250px;
        margin:10px auto;
        font-size:1.5rem;
    }

    & img{
        width:315px;
        max-width:315px;
        max-height: 315px;
        height:315px;
        display:block;
        margin:15px auto;
    }
}



.contact-form{
    margin-top:10%;
    width: 253px;
    margin: 0 auto;
 
    
    & .form-group
    {
        display:flex;
        flex-direction:column;
        margin-top:15px;

    & label{
        align-items:start;
        & span{
            color:red;
            font-size: 1.2rem;
        }
    } 
    & input, & select
      {
        width:250px;
        height:40px;
        margin: 5px auto;
        border:1px solid $secondary-color;
        border-radius:5px;
        outline:none;
        padding-left:6px;
        &::placeholder{
            padding-left:5px;
            }
       }

       & textarea{
        width:250px;
        height: 100px;
        margin:5px auto;
        border:1px solid $secondary-color;
        border-radius:5px;
        resize:none;
        padding:10px 10px;
        line-height:17px;
        outline:none;
       }


       & button{
        width:100px;
        height:40px;
        padding:10px 10px;
        background: $primary-color;
        color:$white;
        border:1px solid $primary-color;
        border-radius:5px;
        box-shadow: $btn-box-shadow;
        cursor: pointer;
       }
    }
}

@media screen and (min-width:997px) {
   .desktop{
    display:flex;
   }

   .contact-header{
    flex-grow:0.2;
    margin-top:10%;
   }

   .contact-form{
    flex-grow:0;
    margin-top:10%;
    margin-right:10%;
   }
}