.myList {
  position: relative;
  top: 150px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  grid: lists;

  & h3 {
    font-size: 2.5rem;
    color: var(--primary-card-font);
    position: relative;
    text-align: center;
  }
  & .listCard {
    display: flex;
    flex-direction: column;

    & .listCardHeader {
      font-size: 2rem;
      position: relative;
      margin-top: 5%;
      text-align: center;
      color: var(--secondary-color);
      font-weight: normal;
      & span {
        color: black;
        font-size: 2.6rem;
        font-weight: bold;
        padding-left: 2px;
      }
    }

    & .listData {
      padding: 10px 0;
      position: relative;
      display: flex;
      flex-direction: column;
      width: 320px;
      height: auto;
      border: 2px solid var(--bg-color);
      border-radius: 8px;
      margin: 10px 0;
      box-shadow: var(--btn-box-shadow);

      & .image {
        background-color: rgba(0, 0, 0, 0.9);
        width: 318px;
        height: 180px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        & img {
          width: 318px;
          max-width: 500px;
          height: auto;
          opacity: 0.5;
        }
      }
      & .btnInfo {
        background: transparent;
        border: none;
        font-size: 1.7rem;
        color: var(--white);
        position: absolute;
        height: auto;
        top: 55%;
        right: 3%;
        cursor: pointer;

        & :hover {
          transition: color 0.5s ease;
          color: var(--secondary-card-font);
        }
      }

      & .btnRemoveList {
        background: transparent;
        border: none;
        font-size: 1.7rem;
        color: var(--white);
        position: absolute;
        max-width: auto;
        height: auto;
        top: 43%;
        right: 3%;
        cursor: pointer;

        & :hover {
          transition: color 0.5s ease;
          color: var(--secondary-card-font);
        }
      }

      & .header {
        padding: 10px;

        & .title {
          color: black;
          font-weight: bold;
        }

        & h5 {
          position: absolute;
          top: 56%;
          color: var(--white);
          font-size: 1.1rem;
        }
        & .genres {
          flex-wrap: wrap;
          position: relative;
          display: flex;
          flex-direction: row;
          width: 240px;
          font-style: italic;

          & h2 {
            position: relative;
            top: 9px;
            font-size: 1.2rem;
            color: var(--secondary-card-font) !important;
          }

          & h2:not(:first-child) {
            padding-left: 9px;
          }
        }
        & .rating {
          position: relative;
          right: 10px;
          font-weight: bold;
          padding: 5px 10px;
          color: var(--primary-color);
          border: 1px solid var(--primary-color);
          border-radius: 5px;
          box-shadow: var(--btn-box-shadow);
        }
      }
    }
  }
}
