.container {
  margin-top: 3rem;
  padding: 50px 0px;
}

.card {
  background: var(--light-white);
  border: 1px solid var(--light-white);
  box-shadow: var(--transparent-box-shadow);
  border-radius: 10px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px;
  margin-right: 10rem;
}

.card img {
  position: relative;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.card img:nth-child(1) {
  margin-left: 55px;
}

.card h2 {
  font-size: 1.5rem;
  margin-top: 10px;
  text-align: center;
}

.card p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 10px;
  width: 200px;
  text-align: flex-start;
  margin-left: 15px;
}
